{% extends 'base.html' %}


{% block content %}
<fieldset>
   <div class="row">
       <div class="col col-8">
           Название: {{ snip.name }}
       </div>
       <div class="col col-4">
           Дата создания: {{ snip.creation_date }}
       </div>
   </div>
   <hr>
   <div class="row">
       <div class="col">
           <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
               <p>
                   {{ snip.code }})
               </p>
           </div>
       </div>
   </div>
</fieldset>
{% endblock %}